<h1>Twitter Search</h1>

<%= form_tag '', method: :get do %>
  <%= search_field_tag :q, @q, {autocomplete: 'off', placeholder: 'Search Twitter'} %>
  <%= submit_tag 'Search' %>
<% end %>

<% if @tweets&.any? %>
  <% @tweets.each do |tweet| %>
    <p>
      <%= tweet_description(tweet) %>
    </p>
  <% end %>
<% else %>
  <p>No results.</p>
<% end %>
